<%= form_with(model: parcel) do |form| %>
  <% if parcel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parcel.errors.count, "error") %> prohibited this parcel from being saved:</h2>

      <ul>
        <% parcel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :status %><br>
    <%= form.select :status, Parcel::STATUS, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :service_type_id %><br>
    <%= form.select :service_type_id, @service_types, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :payment_mode %><br>
    <%= form.select :payment_mode, Parcel::PAYMENT_MODE, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :sender_id %><br>
    <%= form.select :sender_id, [[current_user.name_with_address, current_user.id]], class: "form-control" %>
    <%= link_to 'New Sender', new_user_path %>
  </div>

  <div class="field">
    <%= form.label :receiver_id %><br>
    <%= form.select :receiver_id, @users, class: "form-control" %>
    <%= link_to 'New Receiver', new_user_path %>
  </div>

  <div class="field">
    <%= form.label :cost %><br>
    <%= form.text_field :cost, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div><br>
<% end %>
